@font-face {
  font-family: "iconfont"; /* Project id 3671096 */
  src: url('iconfont.woff2?t=1669714047800') format('woff2'),
       url('iconfont.woff?t=1669714047800') format('woff'),
       url('iconfont.ttf?t=1669714047800') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huidingbu:before {
  content: "\e691";
}

.icon-geren:before {
  content: "\e680";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-xiuli:before {
  content: "\e624";
}

.icon-F:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e601";
}

.icon-jinbiduihuan:before {
  content: "\e663";
}

.icon-shoujichongzhi:before {
  content: "\e6c8";
}

.icon-SIMka:before {
  content: "\e637";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-kefu:before {
  content: "\ec2e";
}

