.content{
margin: 0 auto;
width: 700px;
height: 700px;
background-color: rgb(222, 210, 198);
position: relative;

}
.biao{
    font-size:40px;
    color: slateblue ;
    text-align: center;
    width: 100%;
    height:100px;
}
*{
    margin: 0;
    padding: 0;

}
.bu1{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: aquamarine    ;
    color: slateblue;
    cursor: pointer;

   
}
.bu1:focus{
    background-color: blueviolet;
    border: 1px solid #4FA9FD;
}
.level{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 10%;
    width: 450px;
    left: 18.4%;
}
.game{
    width: 100%;
    height: 400px;
   position: absolute;
   top: 30%;
}
.info{
    
    width: 100%;
    height:30px;
    margin-top: 20px;
    
    text-align: center;
}
table{
   
    background: #929196;
    margin: 0 auto;
    border-spacing:1px ;
}
table td{
    width: 24px;
    height: 24px;
    background: #ccc;
    border: 2px solid;
    border-color: #fff #a1a1a1 #a1a1a1 #fff ;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
}
td>div{
    width: 100%;
    height: 100%;
}
td>div.lei{
background:#ccc url(image/2.png)center/cover no-repeat;
opacity: 0;
}
td>div.flag{
    background: #ccc url(image/1.png)center/cover no-repeat ;
    opacity: 1;
}
td>div.error{
    background-color: red;

}

td>div.right{
    background-color: green;
}
td>div.right{
    background-color: green;
}
td>div.error{
    background-color: red;
}



